#jinja2: lstrip_blocks: True, trim_blocks: True
# {{ ansible_managed }}
# config file version
apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources: {{ grafana_delete_datasources | to_yaml }}

# list of datasources to insert/update depending
datasources:
{% for datasource in grafana_datasources %}
  - name: {{ datasource.name }}
    type: {{ datasource.type }}
    access: {{ datasource.access | default('proxy') }}
    orgId: {{ datasource.orgId | default('1') }}
    uid: {{ datasource.uid }}
    url: {{ datasource.url }}
    {% if 'db_user' in datasource %}user: {{ datasource.db_user }}{% endif %}
    {% if 'db_name' in datasource %}database: {{ datasource.db_name }}{% endif %}
    {% if 'basic_auth' in datasource %}basicAuth: {{ datasource.basic_auth | ternary('true','false') }}{% endif %}
    {% if 'basic_auth_user' in datasource %}basicAuthUser: {{ datasource.basic_auth_user | ternary('true','false') }}{% endif %}
    {% if 'with_credentials' in datasource %}withCredentials: {{ datasource.with_credentials | ternary('true', 'false') }}{% endif %}
    {% if 'is_default' in datasource %}isDefault: {{ datasource.is_default | ternary('true', 'false') }}{% endif %}
    {% if 'json_data' in datasource or grafana_tls_auth %}
    jsonData:
      tlsSkipVerify: true
    {% if grafana_tls_auth %}
      tlsAuth: true
      {# tlsAuthWithCACert: true #}
    {% endif %}
    {% if 'json_data' in datasource %}
    {% for key, value in datasource.json_data.items() %}
      {{ key }}: {{ value }}
    {% endfor %}
    {% endif %}
    {% endif %}
    {% if 'securejson_data' in datasource or grafana_tls_auth %}
    secureJsonData:
    {% if grafana_tls_auth %}
      tlsCACert: |
        {{ grafana_ca_ca_string | indent(8) }}
      tlsClientCert: |
        {{ grafana_ca_cert_string | indent(8) }}
      tlsClientKey: |
        {{ grafana_ca_key_string | indent(8) }}
    {% endif %}
    {% if 'securejson_data' in datasource %}
    {% for key, value in datasource.securejson_data.items() %}
      {{ key }}: {{ value }}
    {% endfor %}
    {% endif %}
    {% endif %}
    version: {{ datasource.version }}
    # <bool> allow users to edit datasources from the UI.
    editable: {{ datasource.editable | default(False) | ternary('true','false') }}
{% endfor %}
